<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h4>About Us</h4>
                    <p>Welcome to ShoPPeez, your premier destination for an unparalleled online shopping experience. At ShoPPeez, we're a curated platform dedicated to providing you with the latest trends.
                        </p>
                </div>
                <div class="col-md-4 col-sm-4" style="color:white;">
                    <h4 class="dl">Quick Links</h4>
                    <ul class="dl">
                        <li>Home</li>
                        <li>Shop</li>
                        <li>About Us</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 ">
                    <h4 class="dl">Connect With Us</h4>
                    <ul class="social-icons dl">
                        <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>&copy; 2024 Your eCommerce Store. All Rights Reserved.</p>
                </div>
               
            </div>
        </div>
    </div>
   
</footer>
