.i.fa-shipping-fast {
    font-size: 2rem;
    margin-left: 5%;
}

.i.fa-shipping-fast:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
// 
.dark-mode{
    background-color: black;
}
